.Box{
    width:40%;
    border: 1px solid rgba(0, 0, 0, 0.244);
    border-radius: 8px ;
    padding-left: 15px;
    font-family: sans-serif;
    width: 90%;
}
.Aboutt{
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;

}

.Grade p{
    background-color: black;
    width: 30px;
    height: 20px;
    color: white;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
