.Box{
    width:40%;
    border: 1px solid rgba(0, 0, 0, 0.244);
    border-radius: 8px ;
    padding-left: 15px;
    font-family: sans-serif;
    width: 90%;
}
.About{
    font-family: sans-serif;

}
.About p{ color:#4A5565 ;}
.Logo
{display: flex; 
align-items: center;
gap: 20px;
color: #4A5565;}