.Box {
  max-width: 72%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 20px;
  margin: 40px auto;          
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.Title {
  font-family: sans-serif;
  gap:20px;
}

.Title p {
  color: #4A5565;
  margin-top: 10px;
}

.Course {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  margin: 5px;
}
.Stick{display: flex;
align-items: center;
gap: 10px;
}
.Page{  margin: 40px auto;          
}