nav a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: medium;
  padding: 5px 40px;
  border-radius: 15px;
}

nav a.active {
  background-color: white;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
