a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
  font-size: medium;
   padding:5px 35px;
    border-radius:15px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(226, 220, 220, 0.333);
    border-radius: 15px;
    max-width: 70%;
    height: 35px;
}
a:focus{
    background-color:white; 
   
    
}
.nav{
    display: flex;
    justify-content: center;
}