.Title{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;

}
.Title p{
 color: rgba(0, 0, 0, 0.464);
 margin-top: 0px;

}
.Container-schedule{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box{background-color:white;
     border:1px solid rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: 72%;
    padding: 20px;
    margin-left: 12%;
}