.Container{
    border:1px solid rgba(0,0,0,0.15);
    border-radius: 15px;
    width: 80%;
    margin-left:10% ;
    padding: 20px;
   }
.Tit{
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;

}
.title p:nth-child(2) {
    color: rgba(0, 0, 0, 0.447);
    font-size: small;
}
.Trash{
    color: red;
    padding: 5px;
    border-radius: 8px;
    width: 30px;
    display: flex;
    justify-content: center;
    border:none;
}
.button{
    width: 60px;
    display: flex;
    font-family: sans-serif;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border:none;
    color:white;
    height: 30px;
    margin-left: 10px;
    padding: 5px;

}
